@use "sass:map";
@use "../../styles/variables" as *;
.Signup {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: map.get($spacing, "md") 1rem;

  .auth-card {
    max-width: 28rem;
    width: 100%;
  }

  .ui-card__footer {
    .ui-button {
      width: 100%;
    }
  }
}
