@use "sass:map";
@use "../../styles/variables" as *;

$nav-height: 4rem;

.Navbar {
    background-color: #0b0f19;
    border-bottom: 1px solid #1e293b;
    color: #f4f4f5;
    font-size: 0.875rem;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .inner {
        align-items: center;
        display: flex;
        height: $nav-height;
        justify-content: space-between;

        a {
            display: inline-block;
            transition: color 0.15s ease;
        }

        .active {
            color: #28E99F !important;
        }
    }
}

.Navbar-Offset {
    height: $nav-height;
}
